<h1 class=h1contactserb>There are <span class=contactspananswers><%=Contact.all.count%></span> contacts</h1>

<ul>

<% Contact.all.each do |contact| %>
<div class=contacts_each>
<li><%= contact.first_name %> <%= contact.last_name %></li>
    <p class=contacts_p><a href="modify_contact" input= >Edit</a></p>
    <p class=contacts_p><a href="delete_contact">Delete</a></p>
</div>
<% end %>

</ul>
