<h1 class=h1contactserb>There are <span class=contactspananswers><%=Contact.all.count%></span> contacts</h1>

<ul>

<% Contact.all.each do |contact| %>
<li class=contacts_each><%= contact.first_name %> <%= contact.last_name %>
    <a href="modify_contact">Edit</a>
    <a href="delete_contact">Delete</a>
</li>
<% end %>

</ul>
