<h1>Welcome to your <%= @crm_app_name %>!</h>
  <p> Main Menu </p>
  <ul>
    <li><a href="/contacts">View all contacts</a><li>
    <li><a href="/new_contact">Add new contacts</a><li>
    <li><a href="/search_contact">Search for a contact</a><li>
    <li><a href="/delete_contact">Delete a contact</a><li>

  </ul>
