<!DOCTYPE html>
<html>
  <head>
    <title>edwinau.com</title>
    <link href="schoolcontact.css" type="text/css" rel="stylesheet"/>
    <meta charset="UTF-8"/>
  </head>

<body background="blackmarbel.jpg">
<h1 class="main">Welcome to your <%= @crm_app_name %>!</h>
  <p> Main Menu </p>
  <ul>
    <li><a href="/contacts">View all contacts</a><li>
    <li><a href="/new_contact">Add new contacts</a><li>

  </ul>


<h2><%= @server_time%></h2>
