<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="style.css" type="text/css" rel="stylesheet"/>
    <title>edwinau.com</title>
  </head>

  <body>
      <h1 id=h1layout>YOUR DATABASE</h1>

      <nav>
        <li id=indexnav>HOME</li>
        <li id=indexnav>ADD A CONTACT</li>
        <li id=indexnav>ABOUT</li>
      </nav>



       <%=yield%>


      <footer>
        <p>  &copy Edwin 2016 </p>
      </footer>

        </body>
</html>
